*{
    margin: 0;
}

body {
    background-image: url("../assets/fundoPredios.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.acesso{
    background-color: white;
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 450px;
    border-radius: 20px;
    gap: 20px;
}

.titulo{
    color: #C8102E;
}

.acesso > img {
    width: 150px;
}

.botaoAcessar {
    background-color: #C8102E;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    border: none;
    height: 40px;
    width: 200px;
    
}

.botaoAcessar:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3); 
}