* {
    color: black;
    background-color: #F0E68C;
}

body {
    margin-top: 50px;
    align-items: center;
    text-align: center;
    font-size: 30px;
    color: black;

    
}
ul {
 
padding: 10px;
  border:  solid #999;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 20px;

  
}

button {
    border-radius: 10px;
    background-color: #182903;
    color: white;
    margin: 10px;
   
}